header {
    background-color: #027DBF;
    color: white;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container {
    display: flex;
    /* background-color: red; */
}

#buttons {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    height: 20px;
    margin: auto;
    margin-left: 5px;
    cursor: pointer;
}

img {
    width: 75px;
    float: left;
}